@using BitBuddy.Core.Entities

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Bit Buddy</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <AuthorizeView Roles="@AppUserRoles.User">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="profile">
                    <span class="oi oi-person" aria-hidden="true"></span> Profile
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="event-feed">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Event Feed
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="friend-feed">
                    <span class="oi oi-people" aria-hidden="true"></span> Friends
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="chat">
                    <span class="oi oi-comment-square" aria-hidden="true"></span> Chat
                </NavLink>
            </div>
        </AuthorizeView>
        <AuthorizeView Roles="@AppUserRoles.Admin">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="admin-interests">
                    <span class="oi oi-paperclip" aria-hidden="true"></span> Application Interests
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="admin-reports">
                    <span class="oi oi-script" aria-hidden="true"></span> User Reports
                </NavLink>
            </div>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
